@keyframes translating {
    from {left: 0; width:5px;}
    25% {left:50%}
    50% { left:100% ;width: 2px;}
    75% { left:50%; width: 5px;}
    99% {left: 0;}
    to {left: 0;}
}
.animate {
  animation: translating 0.6s linear infinite;
  position: absolute;
  border: 3px solid;
  border-bottom: none;
  bottom: -2px;
  left: 0;
  
}

.hidden {
  display: none;
}
